
@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width:100%;
 	}
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;

}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-reddit {
  background: #ff5700;
  color: white;
}
.fa-instagram {
  background: #3f729b;
  color: white;
}

/* aligning icons to left side*/
.leftside {
	position: absolute;
	top: 25%;
	text-align: left;
	padding-top: 120px;
}

.button {
	background-color: #add8e6;
	color: black;
	padding: 15px 32px;
	font-size: 16px;
} /* Blue */

#dual-button div{
	
	background-color: #ffffff;
	margin: 115px;
	font-family: "Courier New";
	text-align: center;

}
.button2{
	font-size: 10px;
	background-color: #008CBA;
	color: white;
	padding: 15px 32px;


}
.hide{
  display:none;
}

.jumbotron{
	background-color: #add8e6;
	font-family: "Courier New";
	border-radius: 0px;
	border: 2px solid black;
}

.jumbotron h1{
	font-size: 60px;
	color: white;
}

.footer{
	width: 100%;
	padding: 100px 0px;
	background-color: #add8e6;
	background-color: black;
	position: relative;
	bottom:0px;
	position:relative;

}

.footer{
	width: 100%;
	padding: 100px 0px;
	background-color: #add8e6;
	position:relative;
	background-color: black;
	position: absolute;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	padding: 5rem;
}

footer {
	float: right;
	height: 40px;
	border-radius: 0px;
	border: 2px solid black;
}
footer nav ul {
}
=======
footer nav ul li{
	display: inline-block;
	margin-left: 20px;
	list-style: none;
}

footer nav ul li a{
	color: white;
	font-family: "Courier New";
	font-weight: bold;
	padding-bottom: 20px;
}

.contactButton {
	text-align: center;
	color: white;
	font-family: "Courier New";
	font-weight: bold;
}

.open-button{
	font-weight: bold;
}

.form-popup{
	text-align: center;
}

#copyright{
	text-align: center;
	width: 100%;
	bottom: 0px;
	font-family: "Courier New";
	font-weight: bold;
}

