
@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width:100%;
 	}
}

#dual-button div{

	
	background-color: #ffffff;
	margin: 115px;
	font-family: "Courier New";
	text-align: center;

}

