<style>
		#idea{
			padding: 20px 10px 15px 215px;
		}
	</style>
<style>
<style>
	#giving_pic{
		padding: 20px 10px 15px 120px;
	}
</style>
#dual-button div{

	float: left;
	background-color: #ffffff;
	width: calc(49% - 1.5em);
	margin-left: 1.5em;
	font-family: "Courier New";
}
</style>