<!DOCTYPE html>
<html>
  <head>
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>myWare</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel = "stylesheet" type = "text/css" href = "index.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="http://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="crossorigin="anonymous">
	</script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
	<script src="{{url_for('static', filename='typed.min.js')}}"></script>
</head>


<body>

<div class="jumbotron text-center">
	<h1><span class="typing"></span></h1>
</div>

<!-- animated header -->
<script src="jquery-3.4.1.min.js"></script>
<script src="typed.min.js"></script>
<script type="text/javascript">

var typed = new Typed('.typing', {strings: ["Need an Idea?", "Give an Idea", "Create an Idea", "Share an Idea"],loop:true,typeSpeed:100,backSpeed:40,});

</script>
	<p id="appIdea" value="Reset"></p>


<!-- Thank you message -->

<div class="message" style="padding-top: 150px; font-size: 50px;">
	<p>Thank you for your idea! It has been submitted for approval. Click <a href="templates/index.html">here</a> to return back to the home page.</p>
</div>


</body>
</html>