@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width:100%;
 	}
}
html, body {
  height: 100%;
}

#container {
  min-height: 100%;
}

#main {
  overflow: auto;
  padding-bottom: 100px;

}

#footer{
	background-color: black;
	position: relative;
	height: 50px;
	margin-top: -50px;
	clear: both;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;

}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
#fb {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-reddit {
  background: #ff5700;
  color: white;
}
.fa-instagram {
  background: #3f729b;
  color: white;
}

/* aligning icons to left side*/
.leftside {
	position: absolute;
	top: 25%;
	text-align: left;
	padding-top: 120px;
}

.button {
	background-color: #add8e6;
	color: black;
	font-size: 16px;
	font-family: "Courier New";
	text-align: center;
} /* Blue */

#ideaButtons{
	font-size: 0px;
}

#dualButtons{
	font-size: 0px;
}

.button2{
	font-size: 10px;
	background-color: #008CBA;
	color: white;
	padding: 15px 32px;
}

.hide{
  display:none;
}

.jumbotron{
	background-color: #add8e6;
	font-family: "Courier New";
	border-radius: 0px;
	border: 2px solid black;
	position: fixed;
}

.jumbotron h1{
	font-size: 60px;
	color: white;
}

.contactButton {
	text-align: center;
	color: white;
	font-family: "Courier New";
	font-weight: bold;
	padding-bottom: 10px;
}

.open-button{
	font-weight: bold;
}

.form-popup{
	text-align: center;
	width: 100%;
}

#copyright{
	text-align: center;
	width: 100%;
	bottom: 0px;
	font-family: "Courier New";
	font-weight: bold;
}

.message{
	text-align: center;
	font-family: "Courier New";
	color: black;
}

.message a:visited{
	color: #add8e6;
}

.bottom{
	padding-top: 400px;
}
