@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width:100%;
 	}
}

html, body {
  height: 100%;
  width: 100%;
  position: fixed;

}

#container {
  min-height: 100%;
}

#main {
  overflow: auto;
  padding-bottom: 100px;

}

#footer{
	background-color: black;
	position: relative;
	height: 50px;
	margin-top: -50px;
	clear: both;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;

}

.button {

	background-color: #add8e6;
	font-size: 16px;
	font-family: "Courier New";
	padding: 15px 32px;



} /* Blue */

.button2{
	font-size: 10px;
	background-color: #008CBA;
	color: white;
	
}

.hide{
  display:none;
}

.jumbotron{
	background-color: #add8e6;
	font-family: "Courier New";
	border-radius: 0px;
	border: 2px solid black;
	min-height: 220px;
	max-height: 700px;
}

.jumbotron h1{
	font-size: 60px;
	color: white;
	text-align: center;
}

.contactButton {
	text-align: center;
	color: white;
	font-family: "Courier New";
	font-weight: bold;
	padding-bottom: 10px;

}

.open-button{
	font-weight: bold;
}

.form-popup{
	text-align: center;
	width: 100%;
}
@media only screen and (min-height: 850px){
	#copyright{
		text-align: center;
		width: 100%;
		bottom: 0px;
		font-family: "Courier New";
		font-weight: bold;
	}
}
@media only screen and (max-height: 849px){
	#copyright{
		display: none
	}
}
.message{
	text-align: center;
	font-family: "Courier New";
	color: black;
}

.message a:visited{
	color: #add8e6;
}

.bottom{
	padding-top: 400px;

}
