/*@media only screen and (max-width:620px) {
   For mobile phones: 
  .menu, .main, .right {
    width:100%;
 	}
}*/
*{
	padding: 0px;
	margin:0px;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;

}
@media only screen and (max-width:575px) {
	#main{
		padding-top: 30%;
	}
}
#getIdea{
	margin-bottom: 15%;
}

.button {
	background-color: black;
	color: white;
	padding: 15px 32px;
	font-size: 16px;
	font-family: "Courier New";
	border: 2px solid white;
} /* Blue */

 /* #dual-button div{
	
	background-color: #fffff;
	margin: 115px;
	font-family: "Courier New";
	text-align: center;
}
*/
input[type="idea"]
{
    font-family: "Courier New";
}
textarea[type="userIdea"]
{
    font-family: "Courier New";
}
input[type="name"]
{
    font-family: "Courier New";
}
input[type="email"]
{
    font-family: "Courier New";
}

input[type="text"]
{
    font-family: "Courier New";
}
#main{
	padding-bottom: 3%;
}
#reset1, #button2{
	background-color:black; 
	font-family:"Courier New";
	border: 2px solid white;
	color: white;
	padding: 5px;
}
.hide{
  display:none;
}

.jumbotron{
	background-color: black;
	font-family: "Courier New";
	border-radius: 0px;
	/*border: 2px solid black;*/
	min-height: 280px;
	max-height: 770px;
}

.jumbotron h1{
	font-size: 60px;
	color: white;
	text-align: center;
}

.contactButton {
	text-align: center;
	color: white;
	font-family: "Courier New";
	font-weight: bold;
	padding-bottom: 10px;
}

.open-button{
	font-family:"Courier New";
	border: 0px;
	font-size: 25px;
	background-color: black;
	color: white;
}
#appName::placeholder{
	font-family: "Courier New"
}
#ideaInput::placeholder{
/*	border: 3px solid white;
*/	font-family: "Courier New"
}
#name::placeholder{
	font-family: "Courier New"
}
#email::placeholder{
	font-family: "Courier New"
}
#feedback::placeholder{
	font-family: "Courier New"
}
.form-popup{
	text-align: center;
	width: 100%;
	padding-bottom: 11%;
}
@media only screen and (max-width:415px) {
	.form-popup{
		text-align: center;
		width: 100%;
		padding-bottom: 17%;
	}
}
#copyright{
	text-align: center;
	width: 100%;
	bottom: 0px;
	font-family: "Courier New";
	font-weight: bold;
}

.message{
	text-align: center;
	font-family: "Courier New";
	color: white;
	font-size: 50px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.bottom{
	padding-top: 400px;
}

html, body {
	background-color: black;
}

.navbar-brand {
	background-color: black;
	color: white;	
	font-family: "Courier New";
}
.navbar fixed-top{
	background-color: black;
}

#button3, #button4{
	background-color:black; 
	font-family:"Courier New";
	border: 2px solid white;
	color: white;
	padding: 5px;
}